.btn {
  height: 48px;
  width: 100%;
  padding: 5px;
  border-radius: 7px;
  border: none;
  background-color: #1EA7FD;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  transition: ease-in-out .4s;
}

.btn:hover {
  opacity: .8;
}

.danger {
  background-color: red;
}